@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 719px) {
    body {
        width: 375px;
        height: 3735px;
    }

    .blog {
        margin: 0 16px;
    }

    .header {
        height: 60px;
        width: 375px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 18px 0 42px 0;
    }

    .headlogo1 {
        background-image: url('./Photo/Logo\ \(2\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 112px;
        height: 27.38px;
        margin-right: 201px;
    }

    .headlogo2 {
        background-image: url('./Photo/Burger\ menu.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 14px;
        width: 30px;
        margin-right: 16px;
    }
    
    .midtxt2 {
        display: none;
    }   
    
    .midimgbirds {
            display: none;
        }
    
    .headlogo3 {
        display: none;
    }

    .btnall {
        display: none;
    }

    .txth3mid {
        display: none;
    }

    .txtnidh3123 {
        display: none;
    }

    .textpc {
        display: none;
    }

    nav {
        display: none;
    }

    .headimg {
        height: 367px;
        width: 375px;
    }

    .headh1 {    
    width: 372px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #1C2B32;
    margin-bottom: 31px;
    }
    .headerimg {
        background-image: url('./Photo/Rectangle\ 232.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 342px;
        height: 180px;
    }
    .headflex {
        display: flex;
        margin-top: 8px;
    }
    .headbtn1 {
        width: 98px;
        height: 24px;
        margin-right: 8px;
        background: #FDFDFD;
        border-radius: 5px;
        border: 1px solid black;
    }

    .headbtn2 {
        width: 98px;
        height: 24px;
        background: #B379EC;
        border-radius: 5px;
    }

    .headbtntxt1 {
        text-align: center;
        width: 83px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        color: #1C2B32;
        margin: 2px 8px;
    }

    .headbtntxt2 {
        width: 69px;
        margin: 2px 8px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .humandiv {
        display: flex;
        width: 375px;
        height: 30.92px;
        margin-top: 32px;
        align-items: center;
    }

    .humanimg {
        background-image: url('./Photo/Ellipse\ 42.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30.92px;
        height: 30.92px;
        margin-right: 11px;
    }

    .timetxt {
        width: 169px;
        height: 11px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 8.83452px;
        line-height: 11px;
        color: #1C2B32;
        margin-right: 96px;
    }

    .txtgg {
        width: 37px;
        height: 11px;
        font-family: 'Ravi Prakash';
        font-weight: 400;
        font-size: 15.9021px;
        line-height: 11px;
        color: #1C2B32;
    }

    .fontdiv {
        display: flex;
        align-items: center;    
        width: 375px;
        height: 39px;
        margin: 24px 0;
    }

    .vector {
        background-image: url('./Photo/eye.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 22px;
        height: 16px;
        margin-right: 9px;
    }

    .fonth2 {
        width: 77px;
        height: 29px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: #1C2B32;
        margin-right: 32px;
    }

    .divaadiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 155px;
        height: 39px;
    }

    .divaa1 {
        width: 42px;
        height: 30px;
        background: #4EBA85;
        border-radius: 8px;
    }

    .divaa2 {
        width: 47px;
        height: 36px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
        margin: 0 8px;
    }

    .divaa3 {
        width: 50px;
        height: 39px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
    }

    .aatxt1 {
        margin: 2px 10px;
        width: 22px;
        height: 26px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FDFDFD;
    }

    .aatxt2 {
        margin: 2px 10px;
        width: 27px;
        height: 32px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #6A6C6C;
    }

    .aatxt3 {
        margin: 2px 10px;
        width: 30px;
        height: 35px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        color: #6A6C6C;
    }

    .textmid {
        width: 343px;
        margin-bottom: 24px;
    }

    .txtmidall {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        color: #1C2B32;
    }

    .whyh21 {
        margin-bottom: 32px;
    }

    .txtmidp {
        margin-bottom: 32px;
    }

    .whyh22 {
        margin: 32px 0;
    }

    .marketingh2 {
        margin: 32px 0;
    }

    .txth31 {
        margin-top: 33px;
    }

    .socialmedia {
        display: flex;
        align-items: center;
        width: 375px;
        height: 56px;
        margin-bottom: 40px;
    }

    .socialh2 {
        width: 152px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        color: #1C2B32;
        margin-right: 41px;
    }

    .socialicon1 {
        background-image: url('./Photo/Vector\ \(7\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 19.53px;
    }

    .socialicon2 {
        background-image: url('./Photo/Vector\ \(8\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin: 0 16px;
    }


    .socialicon3 {
        background-image: url('./Photo/Vector\ \(9\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px; 
    }

    .aboutdiv {
        width: 375px;
        height: 390.29px;
        margin-bottom: 42px;
    }

    .likeh2 {
        width: 216px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #1C2B32;
        margin: 16px 0 32px;        
    }

    .abouttxt1 {
        width: 245px;
        height: 84.76px;
    }

    .webdiv {
        width: 29px;
        height: 24px;
        color: #FDFDFD;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        margin-left: 10px;
    }

    .webbtn1 {
        width: 50px;
        height: 24px;   
        background: #EC7D79;
        border-radius: 5px;    
    }

    .abouth3 {
        width: 245px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C2B32;
        margin: 8px 0;
    }

    
    .abouth31 {
        width: 245px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C2B32;
        margin: 8px 0;
    }

    
    .abouth32 {
        width: 245px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C2B32;
        margin: 8px 0;
    }

    .timeabouttxt {
        width: 155px;
        height: 24px;
        display: flex;
    }

    .txttime1 {
        width: 83px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #1C2B32;
        margin-right: 10px;
    }

    .txttime2 {
        width: 62px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #1C2B32;
    }

    .abouttxt2 {
        width: 245px;
        height: 84.76px;
        margin: 24px 0;
    }


    .abouttxt3 {
        width: 245px;
        height: 84.76px;
    }

    .foot {
        width: 375px;
        height: 776px;
        margin-bottom: 81px;
    }

    .footdiv1 {
        width: 351.58px;
        height: 203.84px;   
    }

    .readyh2 {
        width: 211px;
        height: 53px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        color: #1C2B32;
        margin: 88px 77px 63px 64px;
    }

    .footdiv2 {
        width: 343px;
        height: 495px;
        background-color: #1C2B32;
        box-shadow: 4px 4px 24px rgba(28, 43, 50, 0.3);
        border-radius: 4px;
    }

    .headfoot {
        width: 295px;
        height: 114px;
        margin: 40px 24px 24px;
    }

    .geth3 {
        width: 358px;
        height: 32px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FDFDFD;
    }

    .headfoottxt {    
        width: 279px;
        height: 66px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FDFDFD;
        padding-top: 16px;
    }

    .emaildiv {
        width: 295px;
        height: 277px;
        margin: 24px 24px 40px;
    }

    .nametxt1 {
        width: 37px;
        height: 19px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #9595AB;
        margin: 22px 0 14px;
    }

    .emailbtnp {
        width: 46px;
        height: 25px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;       
        padding: 15px 124px;
    }


    .emaildivbtn {
        height: 56px;
        width: 295px;
         background-color: #4EBA85;
        border-radius: 4px;
        margin-top: 40px;
    }

    footer {
        background-color: #1C2B32;
        height: 610.9749145507812px;
        width: 375px;
    }

    .logodiv {
        padding-top: 80px;
        margin-left: 128px;
    }

    .logodivfoot {
        background-image: url('./Photo/Layer\ 1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 119px;
        height: 80.97px;
    }

    .footercontact {
        width: 373px;
        height: 330px;
        margin-top: 48px;
    }

    .contactdiv {
        width: 341px;
        height: 140px;
        margin: 0 17px 40px;
    }

    .contacth4 {
        width: 90px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .gmaildiv1 {    
        width: 337px;
        height: 46px;
    }

    .gmailtxt1 {
        width: 320px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #9595AB;
    }

    .gmailtxt2 {
        width: 198px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #FFFFFF;
    }

    .gmaildiv2 {
        width: 341px;
        height: 46px;  
    }

    .gmailtxt11 {
        width: 324px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #9595AB;
    }

    .gmailtxt12 {
        width: 210px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #FFFFFF; 
    }

    .akap {
        width: 331px;
        height: 42px;        
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        color: #FDFDFD;
        margin-left: 17px;
    }

    .followdiv {
        width: 268px;
        height: 68px;        
        margin: 40px 16px;
    }

    .followh4 {
        width: 75px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .socialfooter {
            background-image: url('./Photo/Icons\ social\ media\ \(1\).png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 268px;
            height: 28px;    
     }
}   

    body {
        margin: 0 auto;
        height: 6473px;
        width: 1440px;
    }

     .header {
        width: 1439px;
        height: 80px;
        display: flex;
        align-items: center;
        flex-direction: row;
     }

     .headlogo1 {
        background-image: url('./Photo/Logo\ \(3\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 194px;
        height: 46.42px;
        margin: 0 153px 0 172px;
     }

     .headlogo2 {
        display: none;
     }
    
     .headlogo3 {
        background-image: url('./Photo/ant-design_heart-filled.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 24px;
        height: 24px;
        margin-right: 172px;
    }

    .headlogotxt {
        width: 152px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color: #1C2B32;
        margin-left: 30px;
    }

    .ukraine {
        color: #4386D1;
        text-decoration: underline;
    }

    nav  {
        margin: 0 0 0 159px;
    }

    li {
        display: inline-block;
        list-style-type: none;
        margin-right: 48px;
    }

    .headli1 {
        width: 96px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #535B5E;
    }

    .headgreen {
        width: 56px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4EBA85; 
    }

    .headli2 {
        width: 66px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #535B5E;
    }

    .headblack {
        width: 37px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #434343;
     }

    .headactive {
        background-image: url('./Photo/Active\ \(1\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        margin: 7px 0 0 10px;        
    }

    .headimg {
        margin-top: 150px;
        
    }

    .headh1 {
        width: 893px;
        height: 130px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 64px;
        line-height: 125%;
        color: #1C2B32;
        margin: 0 259px;
    }

    .headerimg {
        background-image: url('./Photo/Rectangle\ 230.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 917px;
        height: 516px;
        margin: 40px 259px;
    }

    .headflex {
        display: flex;
        margin: 0 259px;
    }

    .headbtn1 {
        width: 116px;
        height: 24px;
        border-radius: 5px;
        background-color: #FDFDFD;
    }

    .headbtntxt1 {
        margin: 0 7px;
      width: 103px;
      height: 24px;
      font-family: 'Poppins';
     font-weight: 700;
     font-size: 12px;
    line-height: 24px;
    color: #1C2B32;  
    }

    .headbtn2 {
        width: 98px;
        height: 24px;
        background-color: #B379EC;
        border-radius: 5px;
        margin-left: 15px;
        
    }

    .headbtntxt2 {
        margin: 0 7px;
        width: 42px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .humandiv {
        width: 877px;
        height: 70px;
        display: flex;
        align-items: center;
        margin: 64px 259px 40px;
    }

    .humanimg {
        background-image: url('./Photo/Ellipse\ 42\ \(1\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
        margin-right: 24px;
    }

    .timetxt {
        width: 382px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1C2B32;
    }

    .txtgg {
        width: 83px;
        height: 24px;
        font-family: 'Ravi Prakash';
        font-weight: 400;
        font-size: 36px;
        line-height: 24px;
        color: #1C2B32;
        margin-left: 318px;
    }


    .fontdiv {
        width: 332px;
        height: 49px;
        display: flex;
        align-items: center;
        margin: 0 259px 40px;
    }

    .vector {
        background-image: url('./Photo/eye\ \(1\).png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 22px;
        height: 16px;
        margin-right: 8px;
    }

    .fonth2 {
        width: 94px;
        height: 35px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        color: #1C2B32;
    }

    .divaadiv {
        width: 174px;
        height: 49px;
        margin-left: 32px;        
        display: flex;
        align-items: center;
    }

    .divaa1 {
        width: 47px;
        height: 36px;
        background-color: #4EBA85;
        border-radius: 8px;
    }

    .aatxt1 {
        margin: 2px 10px;
        width: 22px;
        height: 26px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #FDFDFD;
    }

    .divaa2 {
        width: 53px;
        height: 42px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
        margin: 0 8px;
    }

    .aatxt2 {
        margin: 2px 10px;
        width: 27px;
        height: 32px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: #6A6C6C;
    }

    .divaa3 {
        width: 58px;
        height: 49px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
    }

    .aatxt3 {
        margin: 2px 10px;
        width: 30px;
        height: 35px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 28px;
        line-height: 45px;
        color: #6A6C6C;
    }

    .textpc {
        width: 918px;
        margin: 0 259px;
    }

    .textpch {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        color: #1C2B32;
    }

    .txtpch2 {
        margin-bottom: 36px;
    }

    .txtpcp {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .spantxt {
        font-style: italic;
        font-weight: bold;
    }

    .spantxtgdp {
        font-weight: bold;
    }

    .txtpcp1 {
        margin-top: 40px;
    }

    .txtpch2mid {
        margin: 70px 0 40px;
    }

    .txtpcp2 {
        margin-top: 40px;
    }

    .marketing {
        margin: 70px 0 40px;
    }

    .marketingbudget {
        margin: 45px 0 40px;
    }

    .midspantxt {
        font-weight: bold;
        font-style: italic;
    }

    .pctxt1 {
        margin: 40px 0 40px;
    }

    .midimgbirds {
        width: 917px;
        height: 580px;
        margin-left: 259px;
        margin-top: 40px;
    }

    .imgmid1 {
        background-image: url(./Photo/Rectangle\ 230.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 917px;
        height: 516px; 
        border-radius: 10px;
        margin-bottom: 24px;
    }

    .midtxtimg {
        width: 80px;
        height: 40px;        
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        color: #1C2B32;
    }

    .midtxt2 {
        width: 918px;
        margin-left: 259px;
    }

    .midtxt2p {        
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;        
        color: #1C2B32;
    }

    .prospan {
        font-weight: bold;
        font-style: italic;
    }

    .txtp1p {
        margin: 40px 0 40px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;        
        color: #1C2B32;
    }

    .classp {
        margin: 40px 0 40px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;        
        color: #1C2B32;
    }

    .h2marketing {
        margin-bottom: 40px;
    }

    .socialmedia {        
        width: 1435px;
        height: 125px;
        display: flex;
        align-items: center;
    }

    .socialh2 {
        width: 275px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 40px;
        line-height: 24px;
        color: #1C2B32;
        margin-left: 453px;
    }

.textmid {
    display: none;
}

    .socialicon1 {
        background-image: url('./Photo/Vector\ \(12\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 43px;
        height: 35px;
        margin-left: 41px;
    }

    .socialicon2 {
        background-image: url('./Photo/Vector\ \(13\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 41px;
       height: 41px;
        margin: 0 45px;
    }

    .socialicon3 {
        background-image: url('./Photo/Vector\ \(14\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 45px;
        height: 45px;
    }   

    .aboutdiv {        
        width: 1440px;
        height: 727.89px;
    }

    .likeh2 {
        width: 371px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 40px;
        line-height: 24px;
        color: #1C2B32;
        margin: 128px 534.5px 64px;
    }

    .aboutvectorimg {
        width: 1239px;
        height: 383.89px;
        display: flex;
        margin-left: 100.5px;
    }

    .abouttxt1 {
        width: 397px;
        height: 381.89px;
    }

    .aboutimg1 {
        background-image: url(./Photo/Rectangle\ 228\ \(8\).png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 397px;
        height: 203.89px;
        border-radius: 5px;
        margin-bottom: 24px;
    }

    .btnall {
        display: flex;
        margin: 16px 16px;
    }

    .vectorbtn1 {
        width: 116px;
        height: 24px;
        border-radius: 5px;
        background-color: #FDFDFD;
    }

    .pbtn1 {
        margin: 0 7px;
        width: 103px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #1C2B32;
    }

    .vectorbtn2 {
        width: 33px;
        height: 24px;
        background-color: #48C287;
        border-radius: 5px;
        margin: 0 4px;
    }


    .pbtn2 {
        margin: 0 7px;
        width: 19px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .vectorbtn3 {
        width: 46px;
        height: 24px;
        background: #F6C050;
        border-radius: 5px;
    }

    .pbtn3 {
        margin: 0 7px;
        width: 35px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .webbtn1 {
        display: none;
    }

    .abouth3 {
        margin-bottom: 16px;
        width: 294px;
        height: 24px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #1C2B32;        
    }

    .txtaboutp {
        height: 50px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #6A6C6C;
    }

    .timeabouttxt {
        width: 183px;
        height: 24px;  
        display: flex;
        margin-top: 28px;
        margin-bottom: 18px;
    }

    .txttime1 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #1C2B32;        
        margin-right: 13px;
    }

    .txttime2 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #1C2B32;
    }

    .abouttxt2 {
        margin: 0 24px;
        width: 397px;
        height: 381.89px;
    }

    .aboutimg2 {
        background-image: url('./Photo/Rectangle\ 228\ \(9\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 397px;
        height: 203.89px;
        border-radius: 5px;
        margin-bottom: 24px;
    }

    .txtmidh3123 {
        width: 227px;
        height: 24px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #1C2B32;
        margin-bottom: 16px;
        margin-top: 24px;
    }

    .abouth31 {
        display: none;
    }

    .abouth32 {
        display: none;
    }

    .abouttxt3 {
        width: 397px;
        height: 383.89px;
    }

    .aboutimg3 {
        background: url(./Photo/Rectangle\ 228\ \(10\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 397px;
        height: 203.89px;
        border-radius: 5px;
        margin-bottom: 24px;
    }

    .txth3mid {
        width: 332px;
        height: 48px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #1C2B32;
        margin-bottom: 16px;

    }

    .txtmidabout {
        width: 360px;
        height: 22px;        
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #1C2B32;
        margin: 16px 0 28px;
    }

    .midbtnall {
        display: flex;
        padding: 16px 16px;
    }
    
    .midb1btn1 {
        width: 98px;
        height: 24px;
        background-color: #b379ec;
        border-radius: 5px;
    }

    .p1btn1 {
        margin: 0 7px;
        width: 84px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .mid2btn2 {
        width: 57px;
        height: 24px;
        background-color: #4386D1;
        border-radius: 5px;
        margin: 0 4px;
    }

    .p2btn2 {
        margin: 0 7px;
        width: 42px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;
    
    }

    .mid3btn3 {
        width: 50px;
        height: 24px;
        background-color: #EC7D79;
        border-radius: 5px;
    }

    .p3btn3 {
        margin: 0 7px;
        width: 29px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #FDFDFD;    
    }

    .foot {
        width: 1440px;
        height: 1123px;
    }

    .readyh2 {
        width: 645px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 40px;
        line-height: 24px;
        color: #1C2B32;    
        margin-left: 397.5px;    
    }

    .footdiv2 {
        width: 503px;
        height: 563px;
        background: #1C2B32;
        border-radius: 4px;
        margin: 63px 467px 97px 469px;
    }

    .headfoot {
        width: 375px;
        height: 110px;
        margin-left: 64px;
    }

    .geth3 {
        width: 358px;
        height: 36px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #FDFDFD;
        margin-bottom: 32px;        
        margin-top: 32px;    
    }


    .headfoottxt {
        width: 369px;
        height: 42px;        
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        color: #FDFDFD;
        
    }

    .emaildiv {
        width: 375px;
        margin: 0 64px;
    }

    .nametxt1 {
        width: 49px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #9595AB;
        margin-bottom: 8px;
        margin: 24px;
    }

    hr {
        margin-bottom: 46px;
    }    
    
    .emaildivbtn {
            width: 148px;
            height: 56px;
            background: #4EBA85;
            border-radius: 4px;
            text-align: center;
        }

        .emailbtnp {
            width: 46px;
            height: 25px;            
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: #FFFFFF;
            margin-left: 51px;
            padding-top: 15px;
        }

        footer {
            width: 1440px;
            height: 352px;
            background-color: #1C2B32;
            display: flex;
            justify-content: space-evenly;
        }
        
        .logodivfoot {
            background-image: url('./Photo/Logo\ Pecode.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 119px;
            height: 81px;
            margin: 91px 160px 0 140px;
        }
        
        .footercontact {
            margin: 91px 0 0 116px;
            width: 370px;
            color: white;
            height: 181px;
        
        }
        
        .contacth4 {
            width: 124px;
            height: 33px;
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            text-transform: capitalize;
            color: #FFFFFF;
            padding-bottom: 22px;
        }
        
        .gmailtxt1 {
            width: 366px;
            height: 25px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #9595AB;
            padding: 22px 0;
            margin-bottom: 60px;
        }
        
        .gmailtxt2 {
            width: 366px;
            height: 25px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #9595AB;
        }
        
        
        .akap {
            width: 104px;
            height: 33px;
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            text-transform: capitalize;
        }
        
        .followh4 {
            margin: 91px 80px 0 185px;
            color: white;
            width: 250px;
        }
        
        .socialfooter {
            background-image: url('./Photo/Icons\ social\ media.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 184px;
            height: 24px;
            margin-bottom: 48px;
        }
        
       