@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 719px) {
    body {
        width: 375px;
        height: 3735px;
    }

    .blog {
        margin: 0 16px;
    }

    .header {
        height: 60px;
        width: 375px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 18px 0 42px 0;
    }

    .headlogo1 {
        background-image: url('./Photo/Logo\ \(2\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 112px;
        height: 27.38px;
        margin-right: 201px;
    }

    .headlogo2 {
        background-image: url('./Photo/Burger\ menu.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 14px;
        width: 30px;
        margin-right: 16px;
    }
 

    .headimg {
        height: 367px;
        width: 375px;
    }

    .headh1 {    
    width: 372px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #1C2B32;
    margin-bottom: 31px;
    }
    .headerimg {
        background-image: url('./Photo/Rectangle\ 232.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 342px;
        height: 180px;
    }
    .headflex {
        display: flex;
        margin-top: 8px;
    }
    .headbtn1 {
        width: 98px;
        height: 24px;
        margin-right: 8px;
        background: #FDFDFD;
        border-radius: 5px;
        border: 1px solid black;
    }

    .headbtn2 {
        width: 98px;
        height: 24px;
        background: #B379EC;
        border-radius: 5px;
    }

    .headbtntxt1 {
        text-align: center;
        width: 83px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        color: #1C2B32;
        margin: 2px 8px;
    }

    .headbtntxt2 {
        width: 69px;
        margin: 2px 8px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 10px;
        line-height: 24px;
        color: #FDFDFD;
    }

    .humandiv {
        display: flex;
        width: 375px;
        height: 30.92px;
        margin-top: 32px;
        align-items: center;
    }

    .humanimg {
        background-image: url('./Photo/Ellipse\ 42.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30.92px;
        height: 30.92px;
        margin-right: 11px;
    }

    .timetxt {
        width: 169px;
        height: 11px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 8.83452px;
        line-height: 11px;
        color: #1C2B32;
        margin-right: 96px;
    }

    .txtgg {
        width: 37px;
        height: 11px;
        font-family: 'Ravi Prakash';
        font-weight: 400;
        font-size: 15.9021px;
        line-height: 11px;
        color: #1C2B32;
    }

    .fontdiv {
        display: flex;
        align-items: center;    
        width: 375px;
        height: 39px;
        margin: 24px 0;
    }

    .vector {
        background-image: url('./Photo/eye.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 22px;
        height: 16px;
        margin-right: 9px;
    }

    .fonth2 {
        width: 77px;
        height: 29px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: #1C2B32;
        margin-right: 32px;
    }

    .divaadiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 155px;
        height: 39px;
    }

    .divaa1 {
        width: 42px;
        height: 30px;
        background: #4EBA85;
        border-radius: 8px;
    }

    .divaa2 {
        width: 47px;
        height: 36px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
        margin: 0 8px;
    }

    .divaa3 {
        width: 50px;
        height: 39px;
        border: 1px solid #6A6C6C;
        border-radius: 8px;
    }

    .aatxt1 {
        margin: 2px 10px;
        width: 22px;
        height: 26px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FDFDFD;
    }

    .aatxt2 {
        margin: 2px 10px;
        width: 27px;
        height: 32px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #6A6C6C;
    }

    .aatxt3 {
        margin: 2px 10px;
        width: 30px;
        height: 35px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        color: #6A6C6C;
    }

    .textmid {
        width: 343px;
        margin-bottom: 24px;
    }

    .txtmidall {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        color: #1C2B32;
    }

    .whyh21 {
        margin-bottom: 32px;
    }

    .txtmidp {
        margin-bottom: 32px;
    }

    .whyh22 {
        margin: 32px 0;
    }

    .marketingh2 {
        margin: 32px 0;
    }

    .txth31 {
        margin-top: 33px;
    }

    .socialmedia {
        display: flex;
        align-items: center;
        width: 375px;
        height: 56px;
        margin-bottom: 40px;
    }

    .socialh2 {
        width: 152px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        color: #1C2B32;
        margin-right: 41px;
    }

    .socialicon1 {
        background-image: url('./Photo/Vector\ \(7\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 19.53px;
    }

    .socialicon2 {
        background-image: url('./Photo/Vector\ \(8\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin: 0 16px;
    }


    .socialicon3 {
        background-image: url('./Photo/Vector\ \(9\).png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px; 
    }

    .aboutdiv {
        width: 375px;
        height: 390.29px;
        margin-bottom: 42px;
    }

    .likeh2 {
        width: 216px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #1C2B32;
        margin: 16px 0 32px;        
    }

    .abouttxt1 {
        width: 245px;
        height: 84.76px;
    }

    .webdiv {
        width: 29px;
        height: 24px;
        color: #FDFDFD;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        margin-left: 10px;
    }

    .webbtn1 {
        width: 50px;
        height: 24px;   
        background: #EC7D79;
        border-radius: 5px;    
    }

    .abouth3 {
        width: 245px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C2B32;
        margin: 8px 0;
    }

    .timeabouttxt {
        width: 155px;
        height: 24px;
        display: flex;
    }

    .txttime1 {
        width: 83px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #1C2B32;
        margin-right: 10px;
    }

    .txttime2 {
        width: 62px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #1C2B32;
    }

    .abouttxt2 {
        width: 245px;
        height: 84.76px;
        margin: 24px 0;
    }


    .abouttxt3 {
        width: 245px;
        height: 84.76px;
    }

    .foot {
        width: 375px;
        height: 776px;
        margin-bottom: 81px;
    }

    .footdiv1 {
        width: 351.58px;
        height: 203.84px;   
    }

    .readyh2 {
        width: 211px;
        height: 53px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
        color: #1C2B32;
        margin: 88px 77px 63px 64px;
    }

    .footdiv2 {
        width: 343px;
        height: 495px;
        background-color: #1C2B32;
        box-shadow: 4px 4px 24px rgba(28, 43, 50, 0.3);
        border-radius: 4px;
    }

    .headfoot {
        width: 295px;
        height: 114px;
        margin: 40px 24px 24px;
    }

    .geth3 {
        width: 358px;
        height: 32px;        
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FDFDFD;
    }

    .headfoottxt {    
        width: 279px;
        height: 66px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FDFDFD;
        padding-top: 16px;
    }

    .emaildiv {
        width: 295px;
        height: 277px;
        margin: 24px 24px 40px;
    }

    .nametxt1 {
        width: 37px;
        height: 19px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #9595AB;
        margin: 22px 0 14px;
    }

    .emailbtnp {
        width: 46px;
        height: 25px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;       
        padding: 15px 124px;
    }


    .emaildivbtn {
        height: 56px;
        width: 295px;
         background-color: #4EBA85;
        border-radius: 4px;
        margin-top: 40px;
    }

    footer {
        background-color: #1C2B32;
        height: 610.9749145507812px;
        width: 375px;
    }

    .logodiv {
        padding-top: 80px;
        margin-left: 128px;
    }

    .logodivfoot {
        background-image: url('./Photo/Layer\ 1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 119px;
        height: 80.97px;
    }

    .footercontact {
        width: 373px;
        height: 330px;
        margin-top: 48px;
    }

    .contactdiv {
        width: 341px;
        height: 140px;
        margin: 0 17px 40px;
    }

    .contacth4 {
        width: 90px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .gmaildiv1 {    
        width: 337px;
        height: 46px;
    }

    .gmailtxt1 {
        width: 320px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #9595AB;
    }

    .gmailtxt2 {
        width: 198px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #FFFFFF;
    }

    .gmaildiv2 {
        width: 341px;
        height: 46px;  
    }

    .gmailtxt11 {
        width: 324px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #9595AB;
    }

    .gmailtxt12 {
        width: 210px;
        height: 22px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 155%;
        color: #FFFFFF; 
    }

    .akap {
        width: 331px;
        height: 42px;        
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        color: #FDFDFD;
        margin-left: 17px;
    }

    .followdiv {
        width: 268px;
        height: 68px;        
        margin: 40px 16px;
    }

    .followh4 {
        width: 75px;
        height: 24px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .socialfooter {
            background-image: url('./Photo/Icons\ social\ media\ \(1\).png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 268px;
            height: 28px;    
     }
}   

